* {
    outline: 0;
    // font-family: 'SimHei', 'Microsoft YaHei', 'Hei', Tahoma, Helvetica, arial, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

li,
a {
    text-decoration: none;
}

a {
    color: #409EFF;
}

img {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

a,
button,
input,
select,
textarea {
    outline: none;
}
pre {
    white-space: pre-wrap;
}
